input.content {
    min-height: 0 !important;
    padding: 6px 12px !important;
    margin: 0 !important;
}

input.label:empty {
    display: inherit !important;
}

input.label {
    display: inherit !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    font-weight: inherit !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    text-align: inherit !important;
    white-space: inherit !important;
    vertical-align: inherit !important;
    border-radius: inherit !important;
}

.box-show {
    border-radius: 0 !important;
    box-shadow: none !important;
}

a.editable-empty {
    color: #3c8dbc;
    border-bottom: none !important;
}

.form-group > label.asterisk:before {
    content: "* ";
    color: red;
}

.mailbox-attachments li {
    width: 300px !important;
}

.table-has-many .form-group {
    margin-bottom: 0 !important;
}


.table-has-many label.control-label[for=inputError] {
    position: absolute;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #dd4b39;
    border-radius: 5px;
    text-align: left;
    top: 34px;
    padding: 8px;
    line-height: 1.2;
}

.table-has-many label.control-label[for=inputError]+br {
    display: none;
}

#totop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99999;
    outline: none;
    background-color: rgb(34, 45, 50);
    color: rgb(238, 238, 238);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    opacity: 0.5;
}

#totop:hover {
    opacity: 1;
}

.file-input .glyphicon-folder-open {
    display: inline;
}

.auth-2fa {
    position: fixed;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
    padding: 0 15px;
    max-width: 400px;

    .form-group {
        margin-top: 5px;
    }
    form.check-code {
        margin-top: 15px;
    }
    .input-group {
        width: 100%;
        input.is-invalid {
            border-color: #d9534f;
        }
        .btn {
            position: absolute;
            z-index: 100;
            right: 0;
            border-radius: 0;
        }
        .invalid-feedback {
            margin-top: 45px;
            color: #d9534f;
        }
    }
}

.actions-dropdown-menu {
    min-width: 70px !important;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    border-radius:0;
    left: -65px;
    top: 5px;
}

.swal2-popup {
    --swal2-confirm-button-background-color: #3c8dbc;
    --swal2-cancel-button-background-color: #e6e6e6;
    --swal2-cancel-button-color: #444;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-horizontal label.col-form-label{
    text-align: right;
}

.dropdown-menu>li>a {
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

li>ul {
    list-style-type: none;
}

.iconpicker-popover.fade {
    opacity: 1 !important;
}

.has-error .select2 .select2-selection {
    border-color: #dc3545;
}


.has-error label {
    color: #dc3545;
}

.js-filter-period-toggle-item {
    display: contents;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
}

.form-control {
    font-size: 14px;
}

.card-default {
    margin: 0;
}

.card-default .card-body {
    padding: 10px;
}

.no-margin {
    margin: 0 !important;
}
